HEIMDALL_URL=http://localhost:8080
HEIMDALL_SUCCESS=http://localhost:8080/success
HEIMDALL_FAILURE=http://localhost:8080/failure

GOOGLE_AID=
GOOGLE_SECRET=

MSID_AID=
MSID_SECRET=
MSID_TENANT=common

KEYSTORE_PRIVATE_KEY_PASSWORD=pk-password
KEYSTORE_PASSWORD=keystore-password

AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
ENABLE_SECRETS_MANAGER=false
