<configuration>
    <appender name="jsonstdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>
    <root level="info">
        <appender-ref ref="jsonstdout"/>
    </root>
    <logger name="io.netty" level="INFO"/>
    <logger name="io.micronaut.aws.distributedconfiguration" level="TRACE"/>
</configuration>
